include:
  - component: $CI_SERVER_FQDN/root/rust-ci/full@1.5.0

variables:
  DEBIAN_FRONTEND: noninteractive

before_script:
  # Added condition to check for the OS (Debian-based or Alpine) and install packages accordingly.
  # This code ensures we're using either apt-get (for Debian-based systems) or apk (for Alpine-based systems).
  - |
    if command -v apt-get >/dev/null; then
      echo "Detected Debian-based system. Installing packages with apt-get."
      apt-get update -qq
      apt-get install -y -qq libdbus-1-dev pkg-config
    elif command -v apk >/dev/null; then
      echo " Detected Alpine-based system. Installing packages with apk."
      apk add --no-cache dbus-dev pkgconf
    else
      echo "Unsupported OS or package manager. Please ensure either apt-get or apk is available."
      exit 1
    fi

